[package]
name = "ocl-convolution"
version = "0.1.0"
authors = ["Alex Ostrovski <ostrovski.alex@gmail.com>"]
edition = "2018"
license = "Apache-2.0"
keywords = ["convolution", "neural-network", "deep-learning", "OpenCL"]
readme = "README.md"
categories = ["science"]
description = "OpenCL-accelerated 2D convolutions"
repository = "https://github.com/slowli/ocl-convolution"
exclude = [
  "/misc/**",
  ".editorconfig",
  ".travis.yml",
]

[badges]
travis-ci = { repository = "slowli/ocl-convolution" }
maintenance = { status = "experimental" }

[dependencies]
# Public dependencies (present in the public API).
ndarray = "0.13.0"
ocl = "0.19.0"

# Private dependencies (not exposed in the public API).
lazy_static = "1.3.0"

[dev-dependencies]
criterion = "0.3.1"
failure = "0.1.7"
rand = "0.7.3"
rand_xorshift = "0.2.0"

[[bench]]
name = "basics"
harness = false
path = "benches/basics.rs"
