[package]
name = "ocl-convolution"
version = "0.1.0"
authors = ["Alex Ostrovski <ostrovski.alex@gmail.com>"]
edition = "2018"
description = "OpenCL-accelerated 2D convolutions"
readme = "README.md"
license = "Apache-2.0"

[dependencies]
ndarray = "0.12.1"
ocl = "0.19.0"

[dev-dependencies]
criterion = "0.2.11"
rand = "0.6.5"
rand_xorshift = "0.1.1"

[[bench]]
name = "basics"
harness = false
path = "benches/basics.rs"
