# `cargo-deny` configuration.

[output]
feature-depth = 1

[advisories]
db-urls = ["https://github.com/rustsec/advisory-db"]
yanked = "deny"

[licenses]
allow = [
  # Permissive open-source licenses
  "MIT",
  "Apache-2.0",
  "Unicode-3.0",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "deny"
wildcards = "deny"
allow-wildcard-paths = true
skip = [
  # Old version used by `ocl` via `enum_primitive` (together with v0.2 used directly)
  { name = "num-traits", version = "^0.1" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
